<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>magasin virtuel</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<table>
    <div th:if="${authenticated}">
        <p>Welcome <span th:text="${username}"/>!</p>
        <a href="/login?logout">Logout</a>
    </div>
    <div th:if="${!authenticated}">
        <a href="/login">Login</a>
    </div>
    <tr>
        <th>Nom</th>
        <th>Prix TVAC</th>
        <th>Stock</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.nameItem}"></td>
        <td th:text="${item.amountVat * (taux.get(item.categoryId) / 100 + 1)}"></td>
        <td>yes</td>
    </tr>
</table>
</body>
</html>